<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahpu.ssm.mapper.admin.OrderMapper">
<!-- void addOrder(Order o); -->
	<insert id="addOrder" parameterType="com.ahpu.ssm.pojo.Order">
	
		insert into orders(oid,address,name,telephone,ordertime,state,total,usernameid) 
		values(#{oid},#{address},#{name},#{telephone},#{ordertime},#{state},#{total},#{user.username})
	</insert>
	<insert id="addOrderItem" parameterType="com.ahpu.ssm.pojo.OrderItem">
	
		insert into orderitem(itemid,count,subtotal,oid,pid)
		values(#{itemid},#{count},#{subtotal},#{order.oid},#{product.pid})
	</insert>
	<update id="updateOrder" parameterType="com.ahpu.ssm.pojo.Order">
		update orders set address=#{address},name=#{name},telephone=#{telephone},ordertime=#{ordertime},state=#{state},total=#{total}
		where oid=#{oid}
	</update>
	<select id="selectOrderByOid" resultType="com.ahpu.ssm.pojo.Order" parameterType="String" >
		select *  from Orders where oid = #{oid}
	</select>
	
	<select id="selectOrderByUsernameid" resultType="com.ahpu.ssm.pojo.Order" parameterType="String" >
		 select * from Orders where usernameid = #{usernameid}


	</select>
	
	

	<select id="selectOrderItemByOid" resultMap="ProdctResultMap" parameterType="String" >
		select orderitem.*,product.*
		from orderitem,product
		where orderitem.pid=product.pid and oid = #{oid}


	</select>
	<!-- 定义一个通用的查询字段 -->
	<sql id = "Base_Column_List">
		oid,address,name,telephone,ordertime,state,total
	</sql>
	
	<!--List<Product> findByPage(Map<String, Object> map);-->
	<select id="findByPage" parameterType="Map" resultType="com.ahpu.ssm.pojo.Order">
		select <include refid="Base_Column_List" /> from orders
		order by ordertime desc
			limit #{start},#{size}
	</select>
	
	<select id="findByPage2" parameterType="Map" resultType="com.ahpu.ssm.pojo.Order">
		select <include refid="Base_Column_List" /> from orders where state = #{state}
			limit #{start},#{size}
	</select>
	
	<!--   一对多关联没有实现
	<resultMap type="com.ahpu.ssm.pojo.Order" id="OrderDetailResultMap">
		<collection property="items" ofType="com.ahpu.ssm.pojo.OrderItem">
			<id column="itemid" property="itemid"></id>
			<result column="count" property="count"></result>
			<result column="subtotal" property="subtotal"></result>
		</collection>
	</resultMap>
	-->
	
	<select id="findByPage3" parameterType="Map"  resultType="com.ahpu.ssm.pojo.Order">
		select <include refid="Base_Column_List" /> 
		from orders
		where usernameid = #{usernameid}
		order by ordertime desc
		limit #{start},#{size}
	</select>
	
	<resultMap type="com.ahpu.ssm.pojo.OrderItem" id="ProdctResultMap">
		<id column="itemid" property="itemid"></id>
		<result column="count" property="count"></result>
		<result column="subtotal" property="subtotal"></result>
		<collection property="product" ofType="com.ahpu.ssm.pojo.Product">
			<id column="pid" property="pid"></id>
			<result column="pname" property="pname"></result>
			<result column="pimage" property="pimage"></result>
			<result column="shop_price" property="shop_price"></result>
			<result column="pcount" property="pcount"></result>
			<result column="pdate" property="pdate"></result>
			<result column="is_hot" property="is_hot"></result>
			<result column="pdesc" property="pdesc"></result>
			<result column="is_latest" property="is_latest"></result>
			<result column="market_price" property="market_price"></result>
			<result column="cid" property="cid"></result>
		</collection>
	</resultMap>
	
	
	<select id="findByPage4" parameterType="Map"  resultMap="ProdctResultMap">
		select orderitem.*,product.pname,product.pid,product.pimage,product.shop_price 
		from orderitem,product
		where orderitem.pid=product.pid and oid = #{oid}
		limit #{start},#{size}
	</select>
    <select id="findByPage5" parameterType="Map"  resultMap="ProdctResultMap">
		select orderitem.*,product.pname,product.pid,product.pimage,product.shop_price
		from orderitem,product
		where orderitem.pid=product.pid and oid = #{oid}
	</select>
	
	<select id="selectCount" resultType="int">
			select count(*) from orders;
	</select>
	<select id="selectCountqita" parameterType="int" resultType="int">
			select count(*) from orders where state=#{state};
	</select>
	
	<select id="selectCountByUsernameid" parameterType="String" resultType="int">
			select count(*) from orders where usernameid=#{usernameid};
	</select>
	
	<select id="selectCountByOid" parameterType="String" resultType="int">
			select count(*) from orderitem where oid=#{oid};
	</select>
	
	<update id="deleteOrder" parameterType="String">
		delete from orders where
		oid = #{oid}
	</update>
	<select id="findcid" parameterType="String" resultType="com.ahpu.ssm.pojo.Cart">
		select * from car where cid=#{cid}
	</select>
	<select id="countorder" parameterType="int" resultType="int">
		select count(*) from orders where state=#{state};
	</select>
	
</mapper>